@font-face {
    font-family: "bebas neue";
    src:  url("fonte/bebas_Neue/BebasNeue-Regular.otf");

    font-family: "corier New";
    src: url("fonte/courier_New/cour.ttf");
}   

body {
    padding: 0;
    margin: 0;
    background-color: #EDEFF2;
}

h1 {
    font-family: "Bebas Neue", bebas-neue, slab-serif, sans-serif;
    font-size: 30px;
    color: #514D43;
}

p {
    font-family:"Courier New", courier-new, slab-serif, sans-serif;
    color: #514D43;
}

.video {
    text-align: center;
    
}

.text {
    text-align: center;
}

#klip{
    width: 50%;
    height: 50%;
}

.btn {
    border: 0.2em #404652 solid;
    border-radius: 50%;
    display: block;
    max-width: fit-content;
    padding: 12px;
    margin: 0 auto;
    text-decoration: none;
    background-color: #404652;
    color: white;
}

@media screen and (min-width:992px) {
    #klip {
        width: 75%;
        height: 75%;
    }
}